* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial',
        sans-serif;
    font-size: 1em;
    line-height: 1.2;
    color: #222;
    letter-spacing: 0.01em;
}

h1,
h2,
h3 {
    font-weight: normal;
    line-height: 1.3;
}

h1,
h2,
h3,
p {
    margin: 0 0 1rem;
}

ol,
ul {
    margin: 0 0 1rem 2rem;
}

a {
    color: inherit;
}

.connectivity-status {
    font-weight: 600;
}
